# used car price project

In [1]:
# import libraries
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
sns.set()

In [2]:
#import the dataset
raw_data=pd.read_csv("D:\\tala\\data science projects\\dr.fozouni\\Used Cars Price.csv")
raw_data.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [ ]:
raw_data.info()
#information about each columns (this dataset has totally 9 columns and 4345 rows or records) and we have to do preprocessing 
#data wrangling and data mining
#data wrangling(discovery(clean , structure , orgnize , map) , transformat(structuring(join , union) , normalize , cleaning, enriching) , validation , publishing)
#data mining(identify correlation , find patherns and variations , understand trends and predict probability)

In [ ]:
raw_data.describe(include="all")
#descriptive statistic(central tendency(mean , mode , median) , dispersion(variance , standard devirtion , range) , skewness(symetric , right , left))

preprocessing
data wrangling

In [ ]:
#attribute Model has 312 types(unique=312) so as dummy variable we have to have 311 features in our modelof regression , so we delete this column by drop
data=raw_data.drop(["Model"] , axis=1)
data.describe(include="all")

# dealing with missing values

In [ ]:
# how many missing value or null value do each columns have
data.isnull().sum()
#the result of isnull is boolian that means (True or False) by adding sum() we count how many of them for each column are null

In [ ]:
#deleting the rows which have missing values
data_no_mv=data.dropna(axis=0)
data_no_mv.describe(include="all")

dealing with outliers

In [ ]:
#inspect the price column's datas
sns.kdeplot(data_no_mv["Price"] )#kernel dencity estimate
#sns.distplot(data_no_mv["price"]) distribution

In [ ]:
#deleting the price column's outliers
q=data_no_mv["Price"].quantile(0.98)
data_1=data_no_mv[data_no_mv["Price"]<q]
data_1.describe(include="all")

In [ ]:
sns.kdeplot(data_1["Price"])

In [ ]:
#inspect the mileage colum's datas
sns.kdeplot(data_1["Mileage"])

In [ ]:
#deleting the mileage column's outliers
q=data_1["Mileage"].quantile(0.99)
data_2=data_1[data_1["Mileage"]<q]
data_2.describe(include="all")

In [ ]:
sns.kdeplot(data_2["Mileage"])

In [ ]:
#inspect the enginev column's datas
sns.kdeplot(data_2["EngineV"])

In [ ]:
q=data_2["EngineV"].quantile(0.993)
data_3=data_2[data_2["EngineV"]<q]
data_3.describe(include="all")
#data_3=data_2[data_2["EngineV"]<6.5]

In [ ]:
sns.kdeplot(data_3["EngineV"])

In [ ]:
#inspect the year column's datas
sns.kdeplot(data_3["Year"])

In [ ]:
q=data_3["Year"].quantile(0.01)
data_4=data_3[data_3["Year"]>q]
data_4.describe(include="all")

In [ ]:
sns.kdeplot(data_4["Year"])

In [ ]:
data_4

# reset the index

In [ ]:
# during the cleaning data index of row dont change due to deleting some od our rows we have to reset our indexes
data_cleaned=data_4.reset_index()
data_cleaned

In [ ]:
#we dont need the ex indexes so we have to delet them
data_cleaned=data_4.reset_index(drop=True)
data_cleaned

In [ ]:
#descriptive statistcs of cleaned data
data_cleaned.describe(include="all")

# data mining
checking the regression assumption:
1_linearity , 2_no endogeneity , 3_ normality and homoscedasticity , 4_no autocorrelation  , 5_no multicollinearity

1_ linearity

In [ ]:
# for linearity we only inspect numerical columns , categorical columns themself have thi lineaity
#for drawing scatter plot we need matplotlib library
fig , (ax1 , ax2 , ax3)=plt.subplots(1,3,sharey=False ,figsize=(15,3))# 1row and 3 columns

ax1.scatter(data_cleaned["Year"],data_cleaned["Price"])
ax1.set_title("price and year")

ax2.scatter(data_cleaned["EngineV"],data_cleaned["Price"])
ax2.set_title("price and enginev")

ax3.scatter(data_cleaned["Mileage"],data_cleaned["Price"])
ax3.set_title("price and mileage")

plt.show()

In [ ]:
#we use numpy library to log(we didnt have linearity)
log_price=np.log(data_cleaned["Price"])
data_cleaned["log_price"]=log_price
data_cleaned

In [ ]:
fig , (ax1 , ax2 , ax3)=plt.subplots(1,3,sharey=False ,figsize=(15,3))# 1row and 3 columns

ax1.scatter(data_cleaned["Year"],data_cleaned["log_price"])
ax1.set_title("log_price and year")

ax2.scatter(data_cleaned["EngineV"],data_cleaned["log_price"])
ax2.set_title("log_price and enginev")

ax3.scatter(data_cleaned["Mileage"],data_cleaned["log_price"])
ax3.set_title("log_price and mileage")

plt.show()

In [ ]:
data_cleaned_2=data_cleaned.drop(["Price"] , axis=1)
data_cleaned_2

5_no multicollinearity
VIF(variance inflation factor)

In [ ]:
data_cleaned_2.columns.values

In [ ]:
#import VIF from statsmodels library
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
variables=data_cleaned_2[["Mileage","Year" , "EngineV"]]
vif=pd.DataFrame()
vif["VIF"]=[variance_inflation_factor(variables.values , i) for i in range(variables.shape[1])]
vif["features"]=variables.columns
vif

In [ ]:
variance_inflation_factor

In [ ]:
data_assumped=data_cleaned_2.drop(["Year"] , axis=1)

# dummy  variables

In [ ]:
data_assumped.describe(include="all")

In [ ]:
#code to change categorical values to dummies (we cam use map too) by pandas
#if we include a seperate dummy variable for each category , we will introduce mulyicollinearty to the regression
data_with_dummies=pd.get_dummies(data_assumped , drop_first=True)
data_with_dummies

In [ ]:
data_with_dummies.columns.values

In [ ]:
#making a list of columns in order of our desire
new_columns=['log_price','Mileage', 'EngineV', 'Brand_BMW',
       'Brand_Mercedes-Benz', 'Brand_Mitsubishi', 'Brand_Renault',
       'Brand_Toyota', 'Brand_Volkswagen', 'Body_hatch', 'Body_other',
       'Body_sedan', 'Body_vagon', 'Body_van', 'Engine Type_Gas',
       'Engine Type_Other', 'Engine Type_Petrol', 'Registration_yes']

In [ ]:
data_preprocessed=data_with_dummies[new_columns]
data_preprocessed

standardizing our data

In [ ]:
# for standardizing our data we yse sklearn library
#standardizing is subset of normalizing and it's subset of transformt (data wrangling)
from sklearn.preprocessing import StandardScaler

In [ ]:
# we want to standard only our inputs and dont need to standard our target
inputs=data_preprocessed.drop(["log_price"] , axis=1)
target=data_preprocessed["log_price"]

In [ ]:
scaler=StandardScaler()
scaler.fit(inputs)
inputs_scaled=scaler.transform(inputs)

In [ ]:
inputs_scaled

# splitting our dataset to train and test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train ,x_test , y_train , y_test=train_test_split(inputs_scaled , target , test_size=0.2 , random_state=42)

In [ ]:
x_train.shape  , x_test.shape

# making our regression model

In [ ]:
reg=LinearRegression()
reg.fit(x_train , y_train)

In [ ]:
#y_hat means predicting (y) not real ones
y_hat=reg.predict(x_train)

In [ ]:
#scotting difrence between real y and predicting ones
plt.scatter(y_train , y_hat)

plt.xlabel("real ones" , size=15)
plt.ylabel("prediction" , size=15)

plt.xlim(6,13)
plt.ylim(6,13)

plt.show()

In [ ]:
#error  is diffrence between the observed value and the true value
#residual  is the diffrence between observed value and the predicted value(by the model)
sns.kdeplot(y_train - y_hat )
plt.title("residual" , size=15)

R_squared

In [ ]:
reg.score(x_train , y_train)

intercept

In [ ]:
reg.intercept_

coaffictiont(slope)

In [ ]:
reg.coef_

In [ ]:
#weights interpretation:  
#countinuous variables (positive shows by inccreasin input our target increase and negetive means by increasing input our target decreas)
#dummy variable(positive shows our category valuble more expensive than our benchmark that omitted)
reg_summary=pd.DataFrame(inputs.columns.values , columns=["features"])
reg_summary["weights"]=reg.coef_
reg_summary

# testing our model

In [ ]:
y_hat_test=reg.predict(x_test)

In [ ]:
plt.scatter(y_test , y_hat_test)

plt.xlabel("target of test" , size=15)
plt.ylabel("prediction of test" , size=15)

plt.xlim(6,14)
plt.ylim(6,14)

plt.show()

In [ ]:
#making dataframe and change target from log to ints normal size by exp in numpy
df_performance=pd.DataFrame(np.exp(y_hat_test) , columns=["prediction"])
df_performance.head()

In [ ]:
#we made dataframe by pandas and pandas is royalty to index so the target numbers becoms NaN
df_performance["target"]=np.exp(y_test)
df_performance.head()

In [ ]:
# we have to reset the index to omitt the Nan in targets
y_test=y_test.reset_index(drop=True)
y_test.head()

In [ ]:
df_performance["target"]=np.exp(y_test)
df_performance

# calculating percentage of error

In [ ]:
df_performance["residual"]=df_performance["target"]-df_performance["prediction"]
df_performance["percent error"]=np.absolute(df_performance["residual"]/df_performance["target"]*100)
df_performance

In [ ]:
#describing the dataframe
df_performance.describe()

In [ ]:
#fo more interpret we sort df ny percent error
pd.options.display.max_rows=999 #y this code it present all  the dataset

df_performance.sort_values(by=["percent error"] , inplace=True)
df_performance

In [ ]:
# we can change the type of target to int
df_performance["target"]=df_performance["target"].astype(int)
df_performance

In [ ]:
# we can get a rounded two decimalfloat number
pd.set_option("display.float_format" , lambda x:"%.2f" %x)
df_performance

In [ ]:
# we can rounded the weights of our regression model
np.round(reg_summary ,2)